# Ignores TypeScript files, but keeps definitions.
node_modules
example
*.ts
!*.d.ts
!./src/autospy/files/**/*.ts
src
*.tgz
tsconfig.json
tsconfig.test.json
tslint.json
tests
scuri_angular_cli.code-workspace
docs
.vscode
