# Ignores TypeScript files, but keeps definitions.
node_modules
example
*.ts
!src/files/*.ts
!*.d.ts
dist
read/**/*.d.ts
!read/read.d.ts
*.tgz
tsconfig.json
tsconfig.test.json
tslint.json
tests
scuri_angular_cli.code-workspace
