node_modules
example
# Ignores TypeScript files, but keeps definitions.
*.ts
!*.d.ts

!./src/autospy/files/**/*.ts
# skip src
src
# lib
*.tgz
tsconfig.json
tsconfig.test.json
tslint.json
tests
*.code-workspace
docs
.vscode
rollup.config.js
jest.config.js
*.yml
lib/third_party/
*.map