# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr:
    - master
    - release/*

trigger: none

pool:
    vmImage: 'ubuntu-latest'

steps:
    - script: npm i
      displayName: 'Install deps'

    - script: npm run build
      displayName: 'Run the build'

    - script: npm run lint
      displayName: 'Run linting'

    - script: npm run test
      displayName: 'Run the tests'
