<% }}) %>import { <%= name %> } from './<%= normalizedName %>';
import { autoSpy } from 'autoSpy';

describe('<%= name %>', () => {
  it('it should', () => {
    // arrange
    // act
    const r = <%= name %>();
    // assert
    // expect(r).toEqual()
  });
});
