import { <%= name %> } from './<%= normalizedName %>';
import { autoSpy } from 'autoSpy';

describe('<%= name %>', () => {
  it('it should', () => {
    // arrange
    // act
    const x = <%= name %>();
    // assert
    // expect(x).toEqual()
  });
});
